<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>predict no change</title>
    <style>
        body{
            background-image: url('../static/pic2.jpg');
        }
    </style>
</head>
<body>
    <center>
        <header>
            <h1><b>Predicting Chance of Admission</b></h1>
            <p>A Machine Learning Web App using Flask</p>
            <p>Prediction : <b><u>You have no change</u></b> <img src="../static/thumbs-down.png" width="35" height="30"></p>
        </header>
    </center>
</body>
</html>